@font-face {
    font-family: "Basier Circle";
    src: url("../assets/fonts/Basier%20Circle/Basier%20Circle%20Regular.otf") format("otf");
}

@font-face {
    font-family: "Basier Circle Italic";
    src: url("../assets/fonts/Basier\ Circle/Basier\ Circle\ Regular\ Italic.otf") format("otf");
}

@font-face {
    font-family: "Basier Circle Bold";
    src: url("../assets/fonts/Basier\ Circle/Basier\ Circle\ Bold.otf") format("otf");
}

@font-face {
    font-family: "Basier Circle Bold Italic";
    src: url("../assets/fonts/Basier\ Circle/Basier\ Circle\ Bold\ Italic.otf") format("otf");
}

@font-face {
    font-family: "Basier Circle Medium";
    src: url("../assets/fonts/Basier\ Circle/Basier\ Circle\ Medium.otf") format("otf");
}

@font-face {
    font-family: "Basier Circle Medium Italic";
    src: url("../assets/fonts/Basier\ Circle/Basier\ Circle\ Medium\ Italic.otf") format("otf");
}

@font-face {
    font-family: "Basier Circle Semibold";
    src: url("../assets/fonts/Basier\ Circle/Basier\ Circle\ SemiBold.otf") format("otf");
}

@font-face {
    font-family: "Basier Circle Semibold Italic";
    src: url("../assets/fonts/Basier\ Circle/Basier\ Circle\ SemiBold\ Italic.otf") format("otf");
}
