@import './variables.scss';
@import './font.scss';
@import './homepage.scss';
@import './mobile.scss';
@import './mixins.scss';

body {
    background: $homepage-bg-color;
    padding-right: 0 !important;
}

a a:hover, a:active, a:focus {
    outline: 0;
}

textarea {
    width: 100%;
}

.homepage-modal {
    padding-top: 5%;
    background-size: 100% 100%;
    width: 550px;
    height: 550px;
    margin: 0 auto;
    z-index: 10;

    @include stepper;

    .modal-btn {
        width: 66%;
        margin: 2% auto;
        border-radius: 20px;
        text-align: center;
        color: $default-text-color;
        background: $default-container-background-color;
        padding: 7px 25px;
        font-size: 16px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-weight: 600;
        cursor: pointer;

        img {
            margin-right: 5px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .disabled {
        opacity: 0.35;
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }
}

// Web3Modal
.web3modal-modal-lightbox {
    z-index: 9999 !important;
}
