@import './variables.scss';

$homepage-border-color-blue: #1b3c4f;
$homepage-border-color-grey: #cbcbcb;

@mixin home-page-border($position, $color: $homepage-border-color-blue) {
    border-#{$position}: 2px solid $color;
}

.homepage {
    position: relative;
    // background: url('../assets/images/Homepage.svg');

    ul, p {
        margin: 0;
        padding: 0;
    }

    .img-container {
        width: 100%;
        // padding-bottom: 56.25%;
        position: relative;
        background: #fff;
        > img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: -1;
        }
    }

    li {
        list-style: none;
    }

    &__nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background: url(../assets/images/BackgroundDesktop.svg);
        background: $homepage-bg-color;
        z-index: 999;

        .logo-wrapper {
            padding: 20px;
            display: flex;
            cursor: pointer;
        }

        .nav-bar-links {
            margin-right: 45px;

            li {
                display: inline-flex;
                margin: 0 10px;
                cursor: pointer;
                font-size: large;
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    color: $gray-text-color;
                }

                &:hover a{
                    color: white;
                }
            }
        }

        .network {
            padding-left: 10px;
            color: $gray-text-color;
            font-size: x-large;
        }
    }

    &__header {
        position: relative;
        padding: 0;
        margin: 87px 60px 0;

        &-container {
            display: flex;
            flex-direction: column;
            color: white;
            min-height: 500px;
            justify-content: space-evenly;
            position: relative;
            align-items: flex-start;

            > div {
                width: 100%;

                > * {
                    width: calc(100% - 740px);
                    max-width: 600px;
                    padding-left: 35px !important;
                }
            }

        }
    }

    &__footer {
        padding-bottom: 150px;
        position: relative;
        background: #FFF;

        > div {
            margin: 0 60px;
            position: relative;
            top: -12px;
        }

        .footer-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 120px;
            @include home-page-border(left, $homepage-border-color-grey);
            @include home-page-border(bottom, $homepage-border-color-grey);

            .footer-title {
                margin: 40px auto;
                color: #22374f;
                font-size: 24px;
                text-align: center;
            }

            .chart {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                width: 80%;
                margin: 0 auto;

                li {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 110px;

                    .name {
                        margin: 0;
                    }

                    .date {
                        margin: 10px 0;
                        color: $gray-text-color;
                    }

                    .value {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
            }
        }

        .footer-bottom {
            @include home-page-border(right, $homepage-border-color-grey);

            .contact {
                display: flex;
                // justify-content: space-between;
                justify-content: center;
                padding: 50px 150px;
                color: #22374f;
                font-size: 24px;

                .links-wrapper {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-start;

                    img:hover {
                        cursor: pointer;
                        filter: invert(10%);
                    }
                }

                .email-wrapper {
                    box-shadow: none;
                    border: 1px solid $gray-text-color;
                    background: $gray-fill;
                    border-radius: 4px;
                    padding: 4px 8px;

                    .subscribe-btn {
                        background: $blue-fill;
                        color: white;
                        text-transform: capitalize;
                        margin-left: 30px;
                    }
                }
            }
        }

        .logo {
            position: absolute;
            bottom: 124px;
            right: 42px;
        }
    }

    .oval-shape {
        position: absolute;
        width: 20px;
        padding: 0 !important;

        &.animate {
            animation: animate-oval 2s ease-in-out;
            animation-iteration-count: infinite;
        }

        &.vertical {
            transform: rotate(90deg);

            // &.animate {
            //     animation-name: animate-vertical-top;
            // }
        }

        &.reverse {
            transform: rotate(180deg);

            // &.animate {
            //     animation-name: animate-left-reverse;
            // }
        }
    }
}

@keyframes animate-oval {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate-vertical-top {
    0% {
        opacity: 0;
        transform: translate(0, -10px) rotate(90deg);
    }
    50% {
        opacity: 1;
        transform: translate(0, -5px) rotate(90deg);
    }
    100% {
        opacity: 0.3;
        transform: translate(0, 0) rotate(90deg);
    }
}

@keyframes animate-left {
    0% {
        opacity: 0;
        transform: translate(-10px, 0);
    }
    50% {
        opacity: 1;
        transform: translate(-5px, 0);
    }
    100% {
        opacity: 0.3;
        transform: translate(0, 0);
    }
}

@keyframes animate-left-reverse {
    0% {
        opacity: 0;
        transform: translate(10px, 0);
    }
    50% {
        opacity: 1;
        transform: translate(5px, 0);
    }
    100% {
        opacity: 0.3;
        transform: translate(0, 0);
    }
}

.homepage.mobile-view {
    .logo-wrapper {
        transform: scale(0.6) translate(-130px);
    }

    .mobile-view-menu {
        position: absolute;
        right: 10px;

        .MuiButton-text {
            position: absolute;
            right: 10px;
            top: -15px;
        }
    }

    .menu-popup {
        right: 27px;
        left: auto !important;
        top: 30px !important;
        transform: none !important;
        z-index: 9;

        .MuiPaper-root {
            background: #F2F2F2;
            border-radius: 8px;
        }

        li {
            font-size: 14px;
            padding: 0;
            min-height: auto;

            &:not(:last-child) {
                border-bottom: 1px solid #D8D8D8;
            }

            a {
                text-decoration: none;
                color: #081C2F;
                width: 100%;
                text-align: center;
                padding: 6px 15px;
            }
        }
    }

    .sub-heading, .features-list {
        width: auto;
        padding-right: 35px;
        max-width: none;
    }

    .header-title {
        font-size: 24px;
    }

    .sub-heading, .footer-title {
        font-size: 18px;
    }

    .features-list {
        flex-direction: column;

        article:first-child {
            margin-bottom: 30px;
        }
    }
}

.question-icon {
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.3rem;
}
