@import './variables.scss';

@mixin stepper {
    input.MuiInputBase-input {
        padding: 0;
        height: 55px;
        font-size: 18px;
        background-color: $default-container-background-color;

        &:focus {
            background: $default-container-background-color;
            color: $opendex-orange;
            border: green;
        }
    }

    .MuiStepIcon-root {
        color: #E5E5E5;

        text {
            fill: #999999;
        }

        &.MuiStepIcon-active {
            color: $default-text-color;
            width: 30px;
            height: 30px;
            margin-top: -3px;
            z-index: 9;
            circle {
                stroke: $opendex-orange;
                stroke-width: 2;
                r: 10;
            }
            text {
                fill: $default-container-background-color;
            }
        }
        &.MuiStepIcon-completed {
            color: $green-fill;
            text {
                fill: #FFF;
            }
        }
    }
    .MuiStepLabel-label{
        color: #999999;

        &.MuiStepLabel-active {
            color: $default-text-color;
            margin-top: 12px;
        }
        &.MuiStepLabel-completed {
            color: $gray-text-color;
        }
    }

    .MuiStepConnector-alternativeLabel {
        left: calc(-50% + 12px);
        right: calc(50% + 12px);
        .MuiStepConnector-line {
            border-color: #F1F1F1;
        }
    }

    .MuiFormLabel-root {
        transform: translate(10px, 20px) scale(1);

        &.Mui-focused {
            color: $default-container-background-color;
        }
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: $opendex-orange;
    }

    .MuiCardContent-root {
        padding: 10px 0 0 !important;

    }
}
