@import './global.scss';

.refund {
    width: 100%;
    height: 100%;

    p {
        margin: 0;
        padding: 0;
    }

    > div {
        overflow-y: auto;
    }

    .MuiTypography-root {
        margin: 0 auto;
        width: 75%;
        line-height: 25px;
    }

    .error-msg {
        color: #f90606;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    + .modal-btn {
        left: 40% !important;
    } 

    .next-step-button {
        min-width: 200px;
        margin-top: 10px;
        background: $blue-fill;
        border-radius: 8px;
        text-transform: none;

        &:hover {
            background: #007bd2;
        }

        &::after {
            content: url('../assets/images/right-arrow-white.svg');
            margin-top: 10px;
        }
    }

    .connect-wallet-button {
        @extend .next-step-button;

        padding-top: 11px;
        padding-bottom: 11px;

        margin-right: 15px;

        &::after {
            content: none;
        }
    }

    .MuiDivider-root {
        width: 100%;
        margin: 20px 0;
    }

    .action-buttons {
        .MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
            padding: 17px;
            border-radius: 8px;
            margin-right: 15px;
            margin-top: 10px;
        }
    }

    &__choose-swap {
        text-align: center;
        padding: 0 30px;

        &-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .MuiTypography-root {
                width: calc(100% - 40px);
                padding: 0 20px;
            }

            .sub-heading {
                color: $gray-text-color;
                font-weight: normal;
                padding-top: 10px;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &-fields {
            display: flex;
            flex-direction: row;
            padding: 10px 0;

            >div {
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: flex-start;
            }

            .field-heading {
                margin: 0;
                width: auto;
                font-weight: 500;
            }

            .recent-swaps {
                .info {
                    color: $gray-text-color;
                    padding: 10px 0;
                }

                .list {
                    background: $gray-fill;
                    padding: 0;
                    margin: 0;
                    max-width: 200px;

                    li {
                        list-style: none;

                        button {
                            min-width: 200px;
                            display: flex;
                            justify-content: space-between;
                            border: 1px solid transparent;
                            border-radius: 4px;
                            margin: 0;
                            text-transform: none;

                            span:last-child {
                                color: $gray-text-color;
                            }

                            &:hover, &.selected {
                                border-color: $blue-border-dark;
                            }
                        }
                    }
                }
            }

            .upload-container {
                .drop-area {
                    border-radius: 4px;
                    border: 1px dashed $gray-text-color;
                    height: 100px;
                    color: $gray-text-color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    padding: 10px;

                    &:hover {
                        background: $gray-fill;
                    }
                }

                &.uploaded {
                    .drop-area {
                        border-color: $blue-border-dark;
                    }
                }

                .uploaded img {
                    width: 30px;
                }

                .plus-icon {
                    font-size: 26px;
                }

                input {
                    display: none;
                }
            }
        }

        .next-step-button {
            margin-top: 20px;
        }
    }

    &__check-status {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sub-heading {
            margin: 50px 0 10px;
            font-size: 14px;
            font-weight: 500;
        }

        .message {
            font-size: 12px;
            margin-bottom: 50px;
        }

        &-footer {
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .address-wrapper {
            justify-content: left;

            > div {
                font-weight: 500;
            }
            textarea {
                margin-top: 5px;
                padding: 5px;
                border-radius: 4px;
                resize: none;
                background: $gray-fill;
                border-color: $gray-border;
                color: $gray-text-color;
                font-size: 12px;
                &:focus {
                    outline-color: $blue-border-dark;
                }
            }
            label {
                display: none;
            }
            .MuiOutlinedInput-root, input {
                height: 100%;
            }
        }
    }

    &__success {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            padding-top: 100px;
            // width: 34px;
        }

        &-footer {
            padding-top: 120px;
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.drawer-wrapper__content .refund {

    .next-step-button {
        margin-bottom: 10px;
    }

    &__choose-swap {
        .MuiTypography-root {
            margin: 0;
            width: 100%;
            justify-content: left;
            text-align: left;

            .sub-heading {
                padding: 0;
                margin: 15px 0 5px;
            }
        }

        &-fields {
            flex-direction: column;
            align-items: center;

            > div {
                width: auto;
            }

            .recent-swaps {
                margin-bottom: 10px;
            }
        }

    }

    &__check-status {
        padding: 0 30px;
        flex-direction: column;
        justify-content: space-evenly;

        .address-wrapper {
            text-align: left;
        }

        &-footer {
            width: 110%;
        }
    }
} 
