@import './global.scss';

.label-icon {
    padding-right: 12px;
    img {
        vertical-align: middle;
        width: 31px;
        height: 26px;
    }
}

#simple-dialog-title {
    h2 {
        position: relative;

        .drawer-close-btn {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.submarine {
    width: 100%;
    height: 100%;

    > div {
        overflow-y: auto;
    }

    .MuiTypography-root {
        margin: 0 auto;
        width: 75%;
        line-height: 25px;
    }

    .error-msg {
        color: #f90606;
        width: 70%;
        margin: 0 auto;
        padding-top: 5px;
    }

    .next-step-button {
        min-width: 200px;
        margin-top: 10px;
        background: $blue-fill;
        border-radius: 8px;
        text-transform: none;

        &:hover {
            background: #007bd2;
        }

        &::after {
            content: url('../assets/images/right-arrow-white.svg');
            margin-top: 10px;
        }
    }

    .failure-button {
        @extend .next-step-button;
        background: #f90606 !important;
    }

    .MuiDivider-root {
        width: 100%;
        margin: 20px 0;
    }

    .action-buttons {
        .MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
            padding: 17px;
            border-radius: 8px;
            margin-right: 15px;
            margin-top: 10px;
        }
    }

    &__pickcrypto {
        text-align: center;
        padding: 0 30px;

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }

        &-options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            > div.currency-options {
                margin: 5px 16px;
                width: 200px;

                .MuiTextField-root {
                    width: 100%;
                    margin: 0;
                    
                    .MuiSelect-outlined.MuiSelect-outlined {

                        // height: 10px;
                        // line-height: 10px;
                        text-align: left;
                    }
                }
            }
        }

        &-amounts {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .textinfo-label {
                white-space: nowrap;
            }
        }

        .next-step-button {
            margin-top: 6px;
        }
    }

    .MuiCircularProgress-svg {
        color: white;

        .MuiCircularProgress-circleIndeterminate {
            r: 10;
        }
    }

    &__destination, &__send {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .MuiButton-textPrimary {
            color: $blue-text-color;
            text-transform: none;
            border-radius: 0;
            border: 1px solid transparent;
            padding: 0;

            img {
                margin-right: 4px;
            }

            &:hover {
                background: transparent;
                border-bottom: 1px solid $blue-text-color;
            }
        }

        &_header {
            .funds-group {
                padding: 0 5px;
                margin: 0 5px;
                display: inline-flex;
                align-items: center;
                background-color: #EDEDED;
                border-radius: 5px;
                height: 36px;

                .funds-type-dropdown {
                    width: 100px;
                    height: 40px;
                    .MuiSelect-select {
                        padding: 0 20px 0 5px;
                    }
                    .MuiSelect-iconOutlined {
                        right: 0;
                    }
                    .MuiInputBase-formControl {
                        width: 80px;
                        height: 25px;
                        background: #fff;
                    }
                }
            }
        }

        &_invoice_group {
            margin-top: 20px;
            margin-bottom: 10px;

            .invoice-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 5px 0;
                font-size: 14px;
                font-weight: 500;
                color: $gray-text-color;

                > div:first-of-type {
                    text-transform: capitalize;
                }
            }
            .invoice-input, .bitcoin-address {
                font-size: 16px;
                // width: 98%;
                font-size: 16px;
                padding: 5px;
                border-radius: 4px;
                resize: none;
                background: $gray-fill;
                border-color: $gray-border;
                color: $gray-text-color;
                font-size: 12px;
                &:focus {
                    outline-color: $blue-border-dark;
                }
                label {
                    display: none;
                }
                .MuiOutlinedInput-root, input {
                    height: 100%;
                }
            }
        }

        &_invoice_footer, &_footer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .MuiFormControlLabel-root {
                width: 54%;
            }
            .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
                background-color: $blue-fill;
            }
            .MuiSwitch-colorPrimary.Mui-checked {
                color: $blue-border-dark;
            }
        }

        &_ethereum_footer {
            min-height: 350px;
            display: flex;
            justify-content: flex-end;
        }

        .waiting.next-step-button::after {
            display: none;
        }
        .button-with-spinner {
            min-height: 52px;
        }
    }

    &__destination {
        .error-msg {
            text-align: center;
        }
    }

    &__send {
        &_invoice_group {
            display: flex;
            align-items: center;

            > div {
                margin-left: 5px;
            }

            .address-header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 5px;

                > div {
                    text-transform: capitalize;
                }
            }

            textarea {
                min-height: 140px;
                max-height: 140px;
            }
        }
        .textinfo {
            margin-left: 0px;
        }
    }

    &__status {
        padding: 0 30px;
        display: flex;
        min-height: 300px;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            margin: 20px;
            padding: 12px;
            border-radius: 50%;
        }

        .message {
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            .highlight {
                padding: 5px;
                margin: 0 3px;
                border-radius: 4px;
                background-color: #faf2ce;
                white-space: nowrap;
            }
        }
    }
}

.drawer-wrapper__content .submarine {

    .next-step-button {
        margin-bottom: 10px;
    }

    &__pickcrypto {
        .MuiTypography-root {
            margin: 0;
            text-align: left;
        }

        &-options {
            flex-direction: column;

            > div {
                width: 100%;
                margin: 5px 0;

                &.currency-options .MuiTextField-root .MuiSelect-outlined.MuiSelect-outlined {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 15px;
                    font-weight: bold;
                }
            }

            .swap-icons.vertical {
                transform: rotate(90deg);
                width: 10px;
                margin: 0 auto;
            }
        }

        &-amounts {
            display: block;
            .textinfo {
                float: left;
                width: 50%;
                text-align: left;
                margin: 10px 0;
            }
        }
    }

    &__destination {
        &_header {
            width: 100%;
            margin: 0;
            text-align: left;
        }

        &_invoice_group {
            text-align: left;

            .invoice-input {
                width: 100%;
                max-width: 100%;
            }
        }

        &_invoice_footer {
            .MuiFormControlLabel-root {
                width: auto;
            }

            .action-buttons {
                display: flex;
            }
        }
    }

    &__send {
        .MuiTypography-root {
            margin: 0;
            width: 100%;
            text-align: left;
        }

        &_invoice_group {
            flex-direction: column;
            align-items: flex-start;

            #qr-lite {
                margin-left: -20px;
            }

            > div {
                margin: 0;
                width: 100%;
                text-align: left;

                .bitcoin-address {
                    width: 100%;
                }

                .MuiButton-textPrimary {
                    display: block;
                    margin: 0 auto;
                }
            }

        }

    }
}
