$blue-fill: #0095FF;
$blue-fill-light: #D5EEFF;
$blue-border-dark: #0078CE;
$blue-text-color: #0095FF;
$green-fill: #73AC23;
$gray-text-color: #999999;
$gray-fill: #F6F6F6;
$gray-border: #CCCCCC;
$homepage-bg-color: #0c0c0c;
$default-text-color: #f2f2f2;

$border-color: #CCCCCC;

//font

$font-regular: "Basier Circle";
$font-medium: "Basier Circle Medium";
